.input:focus {
    outline: none;
}

.input {
}

.inputWrapper{

}

.superInput {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    height: 36px;
    width: 275px;
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
