.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 17px 0 14px 0;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
}

.title{
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.content {
    padding: 0 70px;
}