.App {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.hw {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 230px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
}